.expense-date{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.date__date{
  font-weight: bold;
  
  font-size: 1.8em;
  color: violet;
  background-color: black;
}

.date__month{
  /* font-weight: bold; */
  font-size: 0.8em;
  color: white;
  background-color: black;
  display: inline;
  width: 100%;
  text-align: center;
}

.date__year{
  /* font-weight: bold; */
  font-size: 0.8em;
  color: white;
  background-color: black;
  display: inline;
  width: 100%;
  text-align: center;
}